<a href="https://colab.research.google.com/github/shivendr7/Radio-Propagation/blob/main/MicrosoftUSBuildingFootprints.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://github.com/Microsoft/USBuildingFootprints

https://www.arcgis.com/home/item.html?id=3b0b8cf27ffb49e2a2c8370f9806f267#overview

In [1]:
from os import listdir
from tensorflow.keras.utils import get_file
url='https://usbuildingdata.blob.core.windows.net/usbuildings-v2/Indiana.geojson.zip'
path_to_file=get_file('Indiana.geojson.zip', origin=url, extract=True)

In [22]:
path_to_file

'/root/.keras/datasets/Indiana.geojson.zip'

In [23]:
!ls /root/.keras/datasets/

FeatureServer  Indiana.geojson	Indiana.geojson.zip

In [24]:
!ls /root/.keras/datasets/Indiana.geojson

/root/.keras/datasets/Indiana.geojson

In [25]:
#!pip install geojson

Requirement already satisfied: geojson in /usr/local/lib/python3.7/dist-packages (2.5.0)

In [ ]:
"""
import geojson
with open('/root/.keras/datasets/Indiana.geojson') as f:
    gj = geojson.load(f)
features = gj['features'][0]
"""

In [ ]:
#gj['features']

In [ ]:
!pip install geopandas

In [3]:
import geopandas as gpd
earthquake = gpd.read_file(path_to_file[:-4])
#print(earthquake.head())

   release  ...                                           geometry
0        2  ...  POLYGON ((-84.78587 38.85850, -84.78586 38.858...
1        2  ...  POLYGON ((-84.79681 38.86054, -84.79656 38.860...
2        2  ...  POLYGON ((-84.79878 40.74762, -84.79864 40.747...
3        2  ...  POLYGON ((-84.79920 40.74707, -84.79918 40.746...
4        2  ...  POLYGON ((-84.79521 38.85968, -84.79529 38.859...

[5 rows x 3 columns]

In [4]:
df=earthquake
df

         release  ...                                           geometry
0              2  ...  POLYGON ((-84.78587 38.85850, -84.78586 38.858...
1              2  ...  POLYGON ((-84.79681 38.86054, -84.79656 38.860...
2              2  ...  POLYGON ((-84.79878 40.74762, -84.79864 40.747...
3              2  ...  POLYGON ((-84.79920 40.74707, -84.79918 40.746...
4              2  ...  POLYGON ((-84.79521 38.85968, -84.79529 38.859...
...          ...  ...                                                ...
3379643        2  ...  POLYGON ((-88.00489 37.85262, -88.00496 37.852...
3379644        2  ...  POLYGON ((-88.04306 38.03644, -88.04306 38.036...
3379645        1  ...  POLYGON ((-88.04600 38.03837, -88.04600 38.038...
3379646        1  ...  POLYGON ((-88.04675 38.03659, -88.04675 38.036...
3379647        1  ...  POLYGON ((-88.06976 37.92683, -88.06985 37.926...

[3379648 rows x 3 columns]

In [6]:
#https://usbuildingdata.blob.core.windows.net/usbuildings-v2/California.geojson.zip
from os import listdir
from tensorflow.keras.utils import get_file
url='https://usbuildingdata.blob.core.windows.net/usbuildings-v2/California.geojson.zip'
path_to_file=get_file('Indiana.geojson.zip', origin=url, extract=True)

In [7]:
df=gpd.read_file(path_to_file[:-4])
df

         release  ...                                           geometry
0              2  ...  POLYGON ((-84.78587 38.85850, -84.78586 38.858...
1              2  ...  POLYGON ((-84.79681 38.86054, -84.79656 38.860...
2              2  ...  POLYGON ((-84.79878 40.74762, -84.79864 40.747...
3              2  ...  POLYGON ((-84.79920 40.74707, -84.79918 40.746...
4              2  ...  POLYGON ((-84.79521 38.85968, -84.79529 38.859...
...          ...  ...                                                ...
3379643        2  ...  POLYGON ((-88.00489 37.85262, -88.00496 37.852...
3379644        2  ...  POLYGON ((-88.04306 38.03644, -88.04306 38.036...
3379645        1  ...  POLYGON ((-88.04600 38.03837, -88.04600 38.038...
3379646        1  ...  POLYGON ((-88.04675 38.03659, -88.04675 38.036...
3379647        1  ...  POLYGON ((-88.06976 37.92683, -88.06985 37.926...

[3379648 rows x 3 columns]

In [8]:
type(df)

geopandas.geodataframe.GeoDataFrame

In [ ]:
!pip install osmnx

In [11]:
import osmnx as ox
from IPython.display import Image

%matplotlib inline
ox.config(log_console=True)
ox.__version__

'1.1.1'

In [12]:
# configure the inline image display
img_folder = "images"
extension = "png"
size = 240

In [ ]:
gdf_proj = ox.project_gdf(df)
fp = f"./{img_folder}/piedmont_bldgs.{extension}"
fig, ax = ox.plot_footprints(gdf_proj, filepath=fp, dpi=400, save=True, show=False, close=True)
Image(fp, height=size, width=size)